body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: flex-start;
  /* align-items: left; */
  height: 70vh;
  border: none;
  width: auto;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0px;
  /* margin-right: 10px; */
}

.panel-container {
  flex: 1;

  body {
    font-family: "Courier New", Courier, monospace;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    height: 70vh;
    background-color: #f5f5f5;
    /* border: 1px solid #f5f5f5; */
  }

  .code-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: auto;
    width: 70%;
    margin-right: 10px;
  }

  #root {
    width: 500px;
    padding: 20px;
    background-color: #fff;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    border: none;
    background-color: #e29117;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }

  button:hover {
    background-color: #f6ae42;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  max-width: 900px;
  width: 100%;
  /* border: radius 0; */
}

.chat-box {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: flex;
}

.code-container textarea {
  position: flex;
  left: 0;
  width: 70%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  text-align: left;
}

.collaborators-box {
  order: 0;
  /* Add this line */
  position: relative;
  /* Change from flex to relative */
  top: 0;
  /* Change from 520px to 0 */
  right: 0;
  /* Change from 35px to 0 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fff;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 10px;
}

.collaborators-box h2 {
  margin-top: 0;
}

.navbar {
  background-color: #2569a1;
  color: #fff;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  font-size: 25px;
  padding-left: 40px;
  font-weight: bold;
}

.footer {
  background-color: #2569a1;
  color: #fff;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 15px;
  padding-left: 0px;

  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
}

.navbar span {
  padding-left: 25px;
}

.navbar-site {
  font-size: 20px;
  padding-left: 0px;
  font-weight: lighter;
}

.chat-panel {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: #fff;
  /* border-radius: 5px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 354px;
}

.message-input {
  margin-top: auto;

  /* display: flex; */
}

.message-input textarea {
  width: 350px;
  height: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: unset;
  overflow-y: hidden;
}

.message-input button {
  width: 30px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  /* margin-top: 50px; */
}

.message-input button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
}

table td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

h2 {
  margin-top: 0;
}

.user-message {
  font-weight: bolder;
  color: #333;
  padding: 10px;
  border-radius: 5px;

  margin-bottom: 10px;
  width: fit-content;
}

.other-message {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: fit-content;
}

.validation-message {
  color: red;
}

.editor-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.code-editor {
  width: 100%;
  height: 300px;
  font-family: "Fira Code", "Fira Mono", monospace;
  font-size: 12px;
  border: none;
  padding: 0;
  resize: vertical;
  overflow: auto;
}

.center-text {
  text-align: center;
}

.bg-blue {
  background-color: #e1f1f9;
}