.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  overflow: hidden;
}

.panel-container {
  display: flex;
  width: 100%;
}

.code-container,
.chat-panel {
  flex: 1;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.message-input textarea {
  overflow: auto;
}

.navbar {
  background-color: #302f2f;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
}
